<h1>Listing navigations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Sort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @navigations.each do |navigation| %>
  <tr>
    <td><%= navigation.name %></td>
    <td><%= navigation.title %></td>
    <td><%= navigation.sort %></td>
    <td><%= link_to 'Show', navigation %></td>
    <td><%= link_to 'Edit', edit_navigation_path(navigation) %></td>
    <td><%= link_to 'Destroy', navigation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Navigation', new_navigation_path %>
