<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySpecialThing.com</title>
    <meta name="description" content="MySpecialThing.com - Kreationen f&uuml;r das Spezielle">
    <meta name="author" content="Isabel Imper">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>">
    <div id="container" class="container">
      <header>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/navigation' %>
          </ul>
        </nav>
        <nav>
          <ul class="vmenu">
            <li <%= "id='active' class='active'" if current_page? :action => 'index', :controller => '/home' %>>
              <%= link_to_unless_current "Home", { :action => 'index', :controller => '/home' } %>
            </li>
            <% @navigations.each do |navigation| %>
              <li <%= "id='active' class='active'" if navigation.id.to_s === params[:id] %>>
                <%= link_to_unless_current navigation.name, navigation %>
              </li>
            <% end %>
          </ul>
        </nav>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>